<app-nav></app-nav>
<form (ngSubmit)="saveUser()" ngNativeValidate> 
<div class=" col-md-12 p-2 card-group">
<div class="card ">
	<div class="card-header">
   Register User
 
	<input type="button" *ngIf="role=='admin'"
	 class="btn btn-primary pull-left   float-right" name="View" title="View" value="View User" 
	 (click)="router.navigate(['ViewUser'])" />  
	 <input type="button" *ngIf="role!='admin' && userid<0"
	 class="btn btn-primary pull-left  float-right" name="Login" title="Login" value="Cancel" 
	 (click)="router.navigate([''])" />  
	 <button class="btn btn-primary float-right" type="submit" name="save" [title]="submittedname">{{submittedname}}</button>


</div>
<div class="card-body">
 
<div [hidden]="message==''" class=" alert alert-dismissible fade show {{success?'alert alert-success':'alert alert-danger'}}"  role="alert">
	<strong>{{message}}</strong>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
  </div>
    <!-- <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a> -->
	
		<div class="row ">
			 
				<div class="col-md-12  " >
					<!-- [disabled]="!submitted" -->
				</div>
		
			 
			</div>

		<fieldset  class="border p-2">
			<legend class="w-auto">Login Details</legend>
			<div class="row form-group">
	
				<div class="col-md-3">
					<label for="username">Username* </label>
					 
					<input type="text" class="form-control input-sm" id="username" name="username" autofocus  [(ngModel)]="appuser.username"
						placeholder="" [disabled]= "((appuser.userId==null?-1:appuser.userId)>0)" required />
						<input type="hidden" class="form-control input-sm" id="userid" name="userid" [(ngModel)]="appuser.userId"
						placeholder="" />
						<input type="hidden" class="form-control input-sm" id="createdby" name="createdby" [(ngModel)]="appuser.createdby"
						placeholder="" />
				
				</div>
				<div class="col-md-3">
					<label for="password">Password* </label>
					<input type="password" class="form-control input-sm" id="password" name="password" [(ngModel)]="appuser.password"
						placeholder="" required/>
				
				</div>
				<div class="col-md-3"  *ngIf="role=='admin'">
					<label for="role">Role* </label>
				
						<select name="role"  [(ngModel)]="appuser.role" id=role class="form-control input-sm"  required>
							<option value="user" selected >User</option>
							<option value="admin">Admin</option>
						</select>
				</div>
				<div class="col-md-3 ">
					<label for="category">Designation*</label>
					<input type="text" class="form-control input-sm" id="designation" name="designation" [(ngModel)]="appuser.designation"
						placeholder=""  required/>
				</div>
				<div class="col-md-2  ">
					<br/>
					
					<input type="checkbox" id="status" name="status"  [(ngModel)]="appuser.status==null?true:appuser.status"/>
				&nbsp;&nbsp;<label for="status">Active*</label>
				</div>
				</div>
		</fieldset>
		<fieldset  class="border p-2">
			<legend class="w-auto">Personal Details</legend>
			<div class="row form-group">
	
				<div class="col-md-3 ">
					<label for="category">Name</label>
					<input type="text" class="form-control input-sm" id="name" name="name" [(ngModel)]="appuser.name"
						placeholder=""/>
				</div>
				<div class="col-md-3 ">
					<label for="contactno">Contact</label>
					<input type="tel" pattern="[0-9]*" class="form-control input-sm" maxlength="10"  id="contactno" name="contactno"  ng-pattern="/^[0-9]*$/" [(ngModel)]="appuser.contactno" placeholder=""/>
			
					</div>
			
					<div class="col-md-3 ">
						<label for="contact">Email</label>
						<input type="email" class="form-control input-sm" id="email" name="email"  [(ngModel)]="appuser.email" placeholder=""/>
			
					</div>
					<div class="col-md-3 ">
						<label for="dob">DOB</label>
						
						<input class="form-control" placeholder="yyyy-mm-dd" type="date"  max="{{maxdate|date:'yyyy-MM-dd'}}" 
						name="dob" [(ngModel)]="appuser.dob"  >
					
					</div>
					</div>
					<br/>
					<div class="row form-group ">
					<div class="col-md-3 ">
						<label for="birthplace">Birth Place</label>
						<input type="text" class="form-control input-sm" id="birthplace" name="birthplace" [(ngModel)]="appuser.birthplace" placeholder=""/>
			
					</div>
					<div class="col-md-3 ">
						<label for="address">Address</label>
						<textarea class="form-control input-sm" rows="1" id="address" name="address" [(ngModel)]="appuser.address"
							placeholder=""></textarea>
					</div>
				</div>
		</fieldset>

		<fieldset  class="border p-2">
			<legend class="w-auto">Documents</legend>
			<div class="row form-group">
	
				<div class="col-md-2 ">
					<label for="publications">Publications</label>
					<input #filepub type="file" class="form-control" (change)="upload(filepub.files,'publications')" />  
					
					<a (click)="downloadFile(appuser.publications)" class="btn btn-link" >{{appuser.publications}}</a>
				
				</div>
				<div class="col-md-2 ">
					<label for="image">Image</label> 
					<input #fileimage type="file" class="form-control" (change)="upload(fileimage.files,'image')" />  
					
					<a  (click)="downloadFile(appuser.image)"  class="btn btn-link">{{appuser.image}}</a>
				</div>
					
					<div class="col-md-2 ">
						<label for="biodata">Biodata</label>
						<input #filebio type="file" class="form-control" (change)="upload(filebio.files,'biodata')"  />  
						<a (click)="downloadFile(appuser.biodata)" class="btn btn-link" >{{appuser.biodata}}</a>
				
					</div>
					
				</div>
		</fieldset>
	

</div>
</div>
</div>
</form>