<app-nav></app-nav>
<div class=" col-md-12 p-2 card-group">
  <div class="card ">
    <div class="card-header">
     View User
 <input type="button" class="btn btn-primary btn-sm float-right" name="Add" title="Add" value="Add User" (click)="router.navigate(['Adduser'])" />
  </div>
  <div class="card-body">
<div class="form-group p-3">
    <div class="row rounded ">
<table class="table table-bordered table-hover table-responsive table-sm ">
  <thead class="bg-darkblue">
   <th class="col-1"> Username </th>
   <th class="col-1"> Role </th>
   <th class="col-1"> Category </th>
   <th class="col-1"> Name </th>
   <th class="col-1"> Designation </th>
   <!-- <th class=" col-5"> Address </th>
   <th class="col-1"> Contactno </th>
   <th class="col-1"> Email </th>
   <th class="col-1"> Dob </th>
   <th class="col-1"> Birthplace </th>
   <th class="col-1"> Publications </th>
   <th class="col-1"> Image </th>
   <th class="col-1"> Biodata </th> -->
<th class="col-1"> Status </th>
<!-- <th class="col-1"> Createdate </th> -->
<th class="col-1"> Createdby </th>
<th class="col-1">Edit </th>
<th class="col-1">Delete </th>
  </thead>
  <tbody>
  <tr *ngFor="let item of viewappuser" >
    <td class="col-1">{{item.username}}</td>
    <td class="col-1">{{item.role}}</td>
    <td class="col-1">{{item.category}}</td>
    <td class="col-1">{{item.name}}</td>
    <td class="col-1">{{item.designation}}</td>
    <!-- <td class="col-5 ">{{item.address}}</td>
    <td class="col-1">{{item.contactno}}</td>
    <td class="col-1">{{item.email}}</td>
    <td class="col-1">{{item.dob}}</td>
    <td class="col-1">{{item.birthplace}}</td>
    <td class="col-1">{{item.publications}}</td>
    <td class="col-1">{{item.image}}</td>
    <td class="col-1">{{item.biodata}}</td> -->
      <td class="col-1">{{item.status}}</td> 
        <!-- <td class="col-1">{{item.createdate}}</td>  -->
          <td class="col-1">{{item.createdby}}</td>
          <td class="col-1"><input type="button" class="btn btn-primary" name="Edit" title="Edit" value="Edit" (click)="router.navigate(['EditUser/'+item.userId])"  /></td>
          <td class="col-1"><input type="button" class="btn btn-primary" name="Delete" title="Delete" value="Delete" (click)="deleteuser(item.userId)" /></td>
  </tr>
</tbody>
</table>
    </div>
  </div>
</div>
</div>
</div>