

<div id="login">

    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-4">
                <div id="login-box" class=" shadow ">
                    <div class="bg-darkblue p-2">
                        <h3 class="text-center text-white">Login</h3>
                       </div>
                    <form id="login-form" class="form col-md-12" action="" method="post" (ngSubmit) ="loginProcess()" ngNativeValidate> 
                      
                        
                        <div class="row">
                            <div class="text-danger text-center" role="alert" [hidden]="message==''">
                                <strong>{{message}}</strong>
                                
                              </div> 
                        <div class="form-group">
                            <label for="username" class="">Username:</label><br>
                            <input type="text" name="username" id="username" [(ngModel)]="appuser.username" required  autofocus class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="">Password:</label><br>
                            <input type="password" name="password" id="password" [(ngModel)]="appuser.password" required class="form-control">
                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-column bd-highlight  p-2">
                        <button type="submit" class="btn bg-darkblue" >Login</button>
                       
                      </div>
                     
                    <div class="d-flex align-items-end flex-column bd-highlight mb-3">
                        <button type="submit" class="btn btn-link" (click)="register()">Register Here</button>

                       
                      </div>
                       
                     
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>