/* You can add global styles to this file, and also import other style files */
@import "assets/bootstrap/dist/css/bootstrap.css"; 
@import "assets/bootstrap/dist/css/bootstrap-grid.css"; 
body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  height: 100vh;
}

.bg-darkblue{

  background-color: #021c66d9;
  color: #fcfcfc;
}
.float-right{
  float: right !important;
  margin-right: 10px;
}

.card-header
{
font-size: x-large;
/* font-weight: bold; */

}
legend{ float: none; padding: inherit; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
