/* You can add global styles to this file, and also import other style files */
@import "assets/bootstrap/dist/css/bootstrap.css"; 
@import "assets/bootstrap/dist/css/bootstrap-grid.css"; 
body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
 
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
